:root {
    --bg: #fff;
    --bg2: #F4F4F4;

    --bder1:#fff;

    --fg: #111;
    --text:#231f20;
    --muted: #787878;
    --primary: #010E18;
    --secondary: #073F69;
    --cta-color:#2C3E50;
    --tertiary: #678c07;
    --maxw: 128rem;
    --gutter: 2rem;
    

    --main-slider-tit: #fff;
    --main-slider-sub: #fff;
}

$bp-lg: 1280px;
$bp-md: 992px;
$bp-sm: 768px;
$bp-xs: 480px;