.hello-inner {
    display: flex;
    padding-top: 12rem;
    align-items: center;
    gap: clamp(6rem, 8vw, 10rem);

    @media screen and (max-width:1111px) {
        flex-direction: column;
        gap: 6rem;
        padding-top: 6rem;
    }

    .img-wrap {
        border-radius: 2rem;
        overflow: hidden;
    }

    .t-wrap {
        text-align: center;
        width: 63rem;
        h2.tit {
            color: var(--primary);
            margin: 0 2rem;
            margin-bottom: 3rem;
        }
        p.txt-1{
            color: var(--muted);
        }
    }
}