.instar-inner {
    max-width: 1280px;
    margin: 0 auto; // 상하 0, 좌우 auto로 설정하여 중앙 정렬
    width: 100%;

    h2.tit {
        color: var(--primary);
    }

    p.txt {
        font-family: 'Source Serif Pro', serif;
        font-size: 2rem;
        font-style: italic;
        color: var(--muted);
    }

    @media screen and (max-width:980px) {
        .t-wrap {
            text-align: center;
            align-items: center;
            margin-bottom: 2rem;
        }
    }

    .instar-list {
        display: flex;
        gap: 1rem;
        margin-top: 4rem;

        li {
            flex: 1;

            a {
                border-radius: 1rem;
                display: block;
                background-size: cover;
                background-position: center;
                width: clamp(10rem, 14vw, 18rem);
                height: clamp(16rem, 17vh, 18rem);
            }
        }
        @media screen and (max-width:980px) {
            max-width: 50rem;
            margin: 0 auto;
            flex-wrap: wrap;

            li {
                flex: none;
                a {
                    width: 16rem;
                    height: 16rem;
                }
            }
        }
        @media screen and (max-width:600px) {
            width: 33rem;
        }
    }
}